.loader-img {background: rgba(255,255,255,1);position: fixed;width: 100%;height: 100%;z-index: 999;top:0;}
.loader-img:after {content: "";background: url(images/loader.gif);position: absolute;width: 300px;height: 300px;background-size: cover;margin: auto; top: 0;left: 0;right: 0;bottom: 0;}

/**
 * 6.0 - Navigation
 *   6.1 - Links
 *   6.2 - Menus
 */


/**
 * 6.0 - Navigation
 */

/**
 * 6.1 - Links
 */

a {
	color: #007acc;
	text-decoration: none;
}

a:hover,
a:focus,
a:active {
	color: #686868;
}

a:focus {
	outline: 0;
}

a:hover,
a:active {
	outline: 0;
}


/**
 * 6.2 - Menus
 */

/* .site-header-menu {
	display: none;
	-webkit-flex: 0 1 100%;
	-ms-flex: 0 1 100%;
	flex: 0 1 100%;
	margin: 0.875em 0;
}

.site-header-menu.toggled-on,
.no-js .site-header-menu {
	display: block;
} */

.site-footer .main-navigation {
	margin-bottom: 1.75em;
}

.main-navigation ul {
	list-style: none;
	margin: 0;
}

.main-navigation li {
	position: relative;
}

.main-navigation a {
	color: #fff;
	display: block;
	position: relative;
}

.main-navigation a:hover,
.main-navigation a:focus {
	color: #007acc;
}

/* .main-navigation .current-menu-item > a,
.main-navigation .current-menu-ancestor > a {
	font-weight: 700;
} */

.main-navigation ul ul {
	display: none;
	margin-left: 0.875em;
}

.no-js .main-navigation ul ul {
	display: block;
}

.main-navigation ul .toggled-on {
	display: block;
}

/* .main-navigation .primary-menu {
	border-bottom: 1px solid #d1d1d1;
} */

.main-navigation .menu-item-has-children > a {
	margin-right: 56px;
}

.dropdown-toggle {
	background-color: transparent;
	border: 0;
	border-radius: 0;
	color: #1a1a1a;
	content: "";
	height: 48px;
	padding: 0;
	position: absolute;
	right: 0;
	text-transform: none;
	top: 0;
	width: 48px;
}

.dropdown-toggle:after {
	border: 0 solid #d1d1d1;
	border-left-width: 1px;
	content: "\f431";
	font-size: 24px;
	left: 1px;
	position: relative;
	width: 48px;
}

.dropdown-toggle:hover,
.dropdown-toggle:focus {
	background-color: transparent;
	color: #007acc;
}

.dropdown-toggle:focus {
	outline: thin dotted;
	outline-offset: -1px;
}

.dropdown-toggle:focus:after {
	border-color: transparent;
}

.dropdown-toggle.toggled-on:after {
	content: "\f432";
}

.site-header .main-navigation + .social-navigation {
	margin-top: 1.75em;
}

.site-footer .social-navigation {
	margin-bottom: 1.75em;
}

.social-navigation ul {
	list-style: none;
	margin: 0 0 -0.4375em;
}

.social-navigation li {
	float: left;
	margin: 0 0.4375em 0.4375em 0;
}

.social-navigation a {
	border: 1px solid #d1d1d1;
	border-radius: 50%;
	color: #1a1a1a;
	display: block;
	height: 35px;
	position: relative;
	width: 35px;
}

.social-navigation a:before {
	content: "\f415";
	height: 33px;
	line-height: 33px;
	text-align: center;
	width: 33px;
}

.social-navigation a:hover:before,
.social-navigation a:focus:before {
	color: #007acc;
}

.social-navigation a[href*="codepen.io"]:before {
	content: "\f216";
}

.social-navigation a[href*="digg.com"]:before {
	content: "\f221";
}

.social-navigation a[href*="dribbble.com"]:before {
	content: "\f201";
}

.social-navigation a[href*="dropbox.com"]:before {
	content: "\f225";
}

.social-navigation a[href*="facebook.com"]:before {
	content: "\f203";
}

.social-navigation a[href*="flickr.com"]:before {
	content: "\f211";
}

.social-navigation a[href*="foursquare.com"]:before {
	content: "\f226";
}

.social-navigation a[href*="plus.google.com"]:before {
	content: "\f206";
}

.social-navigation a[href*="github.com"]:before {
	content: "\f200";
}

.social-navigation a[href*="instagram.com"]:before {
	content: "\f215";
}

.social-navigation a[href*="linkedin.com"]:before {
	content: "\f208";
}

.social-navigation a[href*="path.com"]:before {
	content: "\f219";
}

.social-navigation a[href*="pinterest.com"]:before {
	content: "\f210";
}

.social-navigation a[href*="getpocket.com"]:before {
	content: "\f224";
}

.social-navigation a[href*="polldaddy.com"]:before {
	content: "\f217";
}

.social-navigation a[href*="reddit.com"]:before {
	content: "\f222";
}

.social-navigation a[href*="skype.com"]:before {
	content: "\f220";
}

.social-navigation a[href*="stumbleupon.com"]:before {
	content: "\f223";
}

.social-navigation a[href*="tumblr.com"]:before {
	content: "\f214";
}

.social-navigation a[href*="twitter.com"]:before {
	content: "\f202";
}

.social-navigation a[href*="vimeo.com"]:before {
	content: "\f212";
}

.social-navigation a[href*="wordpress.com"]:before,
.social-navigation a[href*="wordpress.org"]:before {
	content: "\f205";
}

.social-navigation a[href*="youtube.com"]:before {
	content: "\f213";
}

.social-navigation a[href^="mailto:"]:before {
	content: "\f410";
}

.social-navigation a[href*="spotify.com"]:before {
	content: "\f515";
}

.social-navigation a[href*="twitch.tv"]:before {
	content: "\f516";
}

.social-navigation a[href$="/feed/"]:before {
	content: "\f413";
}

.post-navigation {
	border-top: 4px solid #1a1a1a;
	border-bottom: 4px solid #1a1a1a;
	clear: both;
	margin: 0 7.6923% 3.5em;
}

.post-navigation a {
	color: #1a1a1a;
	display: block;
	padding: 1.75em 0;
}

.post-navigation span {
	display: block;
}

.post-navigation .meta-nav {
	color: #686868;
	font-size: 13px;
	font-size: 0.8125rem;
	letter-spacing: 0.076923077em;
	line-height: 1.6153846154;
	margin-bottom: 0.5384615385em;
	text-transform: uppercase;
}

.post-navigation .post-title {
	display: inline;
	font-size: 23px;
	font-size: 1.4375rem;
	font-weight: 700;
	line-height: 1.2173913043;
	text-rendering: optimizeLegibility;
}

.post-navigation a:hover .post-title,
.post-navigation a:focus .post-title {
	color: #007acc;
}

.post-navigation div + div {
	border-top: 4px solid #1a1a1a;
}

.pagination {
	border-top: 4px solid #1a1a1a;
	font-size: 19px;
	font-size: 1.1875rem;
	margin: 0 7.6923% 2.947368421em;
	min-height: 56px;
	position: relative;
}

.pagination:before,
.pagination:after {
	background-color: #1a1a1a;
	content: "";
	height: 52px;
	position: absolute;
	top:0;
	width: 52px;
	z-index: 0;
}

.pagination:before {
	right: 0;
}

.pagination:after {
	right: 54px;
}

.pagination a:hover,
.pagination a:focus {
	color: #1a1a1a;
}

.pagination .nav-links {
	padding-right: 106px;
	position: relative;
}

.pagination .nav-links:before,
.pagination .nav-links:after {
	color: #fff;
	font-size: 32px;
	line-height: 51px;
	opacity: 0.3;
	position: absolute;
	width: 52px;
	z-index: 1;
}

.pagination .nav-links:before {
	content: "\f429";
	right: -1px;
}

.pagination .nav-links:after {
	content: "\f430";
	right: 55px;
}

/* reset screen-reader-text */
.pagination .current .screen-reader-text {
	position: static !important;
}

.pagination .page-numbers {
	display: none;
	letter-spacing: 0.013157895em;
	line-height: 1;
	margin: 0 0.7368421053em 0 -0.7368421053em;
	padding: 0.8157894737em 0.7368421053em 0.3947368421em;
	text-transform: uppercase;
}

.pagination .current {
	display: inline-block;
	font-weight: 700;
}

.pagination .prev,
.pagination .next {
	background-color: #1a1a1a;
	color: #fff;
	display: inline-block;
	height: 52px;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	top: 0;
	width: 52px;
	z-index: 2;
}

.pagination .prev:before,
.pagination .next:before {
	font-size: 32px;
	height: 53px;
	line-height: 52px;
	position: relative;
	width: 53px;
}

.pagination .prev:hover,
.pagination .prev:focus,
.pagination .next:hover,
.pagination .next:focus {
	background-color: #007acc;
	color: #fff;
}

.pagination .prev:focus,
.pagination .next:focus {
	outline: 0;
}

.pagination .prev {
	right: 54px;
}

.pagination .prev:before {
	content: "\f430";
	left: -1px;
	top: -1px;
}

.pagination .next {
	right: 0;
}

.pagination .next:before {
	content: "\f429";
	right: -1px;
	top: -1px;
}

.image-navigation,
.comment-navigation {
	border-top: 1px solid #d1d1d1;
	border-bottom: 1px solid #d1d1d1;
	color: #686868;
	font-size: 13px;
	font-size: 0.8125rem;
	line-height: 1.6153846154;
	margin: 0 7.6923% 2.1538461538em;
	padding: 1.0769230769em 0;
}

.comment-navigation {
	margin-right: 0;
	margin-left: 0;
}

.comments-title + .comment-navigation {
	border-bottom: 0;
	margin-bottom: 0;
}

.image-navigation .nav-previous:not(:empty),
.image-navigation .nav-next:not(:empty),
.comment-navigation .nav-previous:not(:empty),
.comment-navigation .nav-next:not(:empty) {
	display: inline-block;
}

.image-navigation .nav-previous:not(:empty) + .nav-next:not(:empty):before,
.comment-navigation .nav-previous:not(:empty) + .nav-next:not(:empty):before {
	content: "\002f";
	display: inline-block;
	opacity: 0.7;
	padding: 0 0.538461538em;
}


/**
 * 11.1 - Header
 */

/* .site-header {
	padding: 2.625em 7.6923%;
} */

.site-header-main {
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.site-branding {
	margin: 0.875em auto 0.875em 0;
	/* Avoid overflowing wide custom logo in small screens in Firefox and IEs */
	max-width: 100%;
	min-width: 0;
	overflow: hidden;
}

.custom-logo-link {
	display: block;
}

.custom-logo {
	max-width: 180px;
}

.site-title {
	font-size: 23px;
	font-size: 1.4375rem;
	font-weight: 700;
	line-height: 1.2173913043;
	margin: 0;
}

.site-branding .site-title a {
	color: #1a1a1a;
}

.site-branding .site-title a:hover,
.site-branding .site-title a:focus {
	color: #007acc;
}

.wp-custom-logo .site-title {
	margin-top: 0.608695652em;
}

.site-description {
	color: #686868;
	display: none;
	font-size: 13px;
	font-size: 0.8125rem;
	font-weight: 400;
	line-height: 1.0769230769;
	margin: 0.538461538em 0 0;
}

.menu-toggle {
	background-color: transparent;
	border: 1px solid #d1d1d1;
	color: #1a1a1a;
	font-size: 13px;
	font-size: 0.8125rem;
	margin: 1.076923077em 0;
	padding: 0.769230769em;
}

.no-js .menu-toggle {
	display: none;
}

.menu-toggle:hover,
.menu-toggle:focus {
	background-color: transparent;
	border-color: #007acc;
	color: #007acc;
}

.menu-toggle.toggled-on,
.menu-toggle.toggled-on:hover,
.menu-toggle.toggled-on:focus {
	background-color: #1a1a1a;
	border-color: #1a1a1a;
	color: #fff;
}

.menu-toggle:focus {
	outline: 0;
}

.menu-toggle.toggled-on:focus {
	outline: thin dotted;
}

.header-image a {
	display: block;
}

.header-image a:hover img,
.header-image a:focus img {
	opacity: 0.85;
}

/*my account form*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

.create-release, .go-back-button {border-radius: 4px;background-color: #1c3186;border: none;color: #FFFFFF;
text-align: center;font-size: 25px;padding: 15px;width: 250px;transition: all 0.5s;cursor: pointer;margin: 10px 0;}
.create-release span, .go-back-button span {cursor: pointer;display: inline-block;position: relative;transition: 0.5s;}
.create-release span:after, .go-back-button span:after {content: '\00bb';position: absolute;opacity: 0;top: 0;
right: -20px;transition: 0.5s;}
.create-release:hover span {padding-right: 25px;}
.create-release:hover span:after {opacity: 1;right: 0;}
.go-back-button {width: 150px;}
.go-back-button span:after{left: -80px;right: 0;-moz-transform: scaleX(-1);-o-transform: scaleX(-1);
-webkit-transform: scaleX(-1);transform: scaleX(-1);top: -2px;}
.go-back-button:hover span {padding-left: 25px;}
.go-back-button:hover span:after {opacity: 1;left: -60px;}
.form-to-create-release, .go-back, div#custom-details, ul#top-menu > li:last-child, .logged-in ul#top-menu > li:nth-last-child(3){display: none;}
.go-back {text-align: right;}
div.mce-fullscreen{z-index: 999999;}
.before-form-my-account {width: 100%; float: left; background: #1a2980;
background: -webkit-linear-gradient(to right,#337ab7,#1a2980);background: linear-gradient(to right,#337ab7,#1a2980);
padding: 15px;}
.left-content-account, .right-content-account {color: #fff;font-size: 16px;}
.left-content-account, .right-content-account {float: left;width: 50%;}
.right-content-account {text-align: right;}
span.fix-width {text-align: left; display: inline-block;width: 35%;}
.logged-in ul#top-menu > li:last-child{display: inline-block;}
.logged-in ul#top-menu > li:last-child a {color: #9bcfff;text-transform: uppercase;}
div#custom-details {width: 80%;float: left;}
.go-back {width: 20%;float: left;padding: 9px 0;}
.form-to-create-release{float: left; margin-top: 20px;}
.go-back button {margin: 0;}
#menu-item-394786{display: none !important;}
#menu-item-5499{display: inline-block !important;}
.logged-in #menu-item-394786{display: inline-block !important;}
ul#top-menu > li:nth-last-child(2),.logged-in ul#top-menu > li:nth-last-child(3){display: inline-block;}
.logged-in ul#top-menu > li:nth-last-child(2){display: inline-block;}
.inputs.empty-specification select {min-height: 224px;overflow-x: scroll;overflow-y: hidden;}

.form-to-create-release{width: 100%;} 
.form-to-create-release .wpcf7-form input[type=text],.form-to-create-release .wpcf7-form input[type=email],
.form-to-create-release .wpcf7-form select,.form-to-create-release .wpcf7-form input[type=tel],
.form-to-create-release .wpcf7-form .wpcf7-form-control-signature-wrap
{   border: 0 !important;  padding: 15px !important; border-radius: 0; color: #999; background-color: #eee;
    font-size: 14px;width: 50%;
}
.form-to-create-release .wpcf7-form .wpcf7-form-control-signature-wrap
{ width: 50% !important;
}
.form-to-create-release .wpcf7-form p
{ padding-bottom: 0px;
}
.form-to-create-release .wpcf7-form .wpcf7-form-control-wrap
{ padding-bottom: 15px;display: block;
}
.form-to-create-release .wpcf7-form .wpcf7-radio .wpcf7-list-item
{  margin: 0 10px 0 0em !important;
}
.form-to-create-release .left-part
{ width: 30%;float: left;margin-bottom: 10px;
}
.form-to-create-release .right-part
{ width: 70%;float: left;margin-bottom: 10px;
}

.pdf-information
{ clear: both;margin-bottom: 10px;
}
.form-to-create-release .wpcf7-submit
{   box-shadow: none;outline: none; border: 0; color: #fff; background: #28579f; padding: 8px 20px; text-transform: uppercase;
    font-weight: bold; margin-top: 15px; cursor: pointer;
}
.form-to-create-release .empty-hours .same-line
{   width: 35%;float: left;
}
.form-to-create-release .empty-hours .same-line .wpcf7-select
{ width: 40%;
}
.form-to-create-release .empty-company .select ,.form-to-create-release .empty-date .select-second-option
{   width: 80px;text-align: center; padding: 3px; background: #254c98; color: #fff;cursor: pointer;float: left; margin-top: 5px;
    padding: 11px;
}
.form-to-create-release p .empty-company .option
{ padding: 5px;
}
.form-to-create-release .empty-date .wpcf7-form-control-wrap
{ padding-bottom: 0px;
}
.form-to-create-release .wpcf7-form .empty-date .full-width,
.form-to-create-release .wpcf7-form .empty-company p
{ width: 100%;float: left;
}
.form-to-create-release .wpcf7-form .empty-company .wpcf7-text,
.form-to-create-release .wpcf7-form .empty-date .wpcf7-select
{ width: 98%;
}
.form-to-create-release .wpcf7-form .empty-company .wpcf7-form-control-wrap ,
.form-to-create-release .wpcf7-form .empty-date .wpcf7-form-control-wrap
{ width: 39%; float: left;
}
.form-to-create-release .wpcf7-form .empty-company .wpcf7-form-control-wrap select
{ width: 100%;
}
.form-to-create-release .tel-company h3
{	font-weight: 600; padding: 20px 0px;color: #000;
}
.form-to-create-release .tel-company span
{	font-size: 12px;font-style: italic;
}
.disclose-div
{ position: relative;width: 100%;float: left;cursor: pointer;
}
.disclose-div img
{ width: 100%;border: 1px solid #e1e1e1;
}
.et_pb_gutters3 .disclose-main .et_pb_column_1_4
{ width: 23% !important;
}
.disclose-main
{  padding: 33px 0 70px;
}
.disclose-div h3
{ font-size: 16px; color: #272727; font-weight: 600; line-height: 22px;position: absolute;width: 100%;transition: all 0.5;bottom: -80px;
}
.disclose-div .img-sec-dis
{ position: relative;transition: .5s ease;display: block;float: left;
}
.disclose-div .img-sec-dis:after
{   content:"";display: block;width: 100%;
    height: 100%; background:#de501bc7;top: 0px;left: 0px;position: absolute;
    opacity: 0;transition: opacity 0.5s;visibility: hidden;
}
.disclose-div:hover .img-sec-dis:after
{   opacity: 1;visibility: visible;
}
.disclose-div:hover h3
{ top: 30%;color: #fff;
}
.disc-btn-row
{ margin-top: 90px !important;
}
.disc-btn-row a
{ font-size: 18px; color: #1b2c82; font-weight: 600; border: 1px solid; border-radius: 5px; padding: 10px 25px;
}
.pr-service h3
{ font-size: 25px;color: #000;font-weight: 700;
}
.form-to-create-release.letter
{ display: block !important;
}
.form-to-create-release.letter .left-part
{ clear: both;
}
#wpcf7_signature_clear
{ background: #fff; box-shadow: none; border: 0; color: blue; padding: 5px 15px; border: 1px solid; border-radius: 5px;
}
div.wpcf7-mail-sent-ok,div.wpcf7-response-output
{ float: left;
}
/*temp*/
.form-to-create-release {font-family: 'Open Sans', sans-serif;}
.before-form-my-account {display: none;}
.right-content-account {width: 100%; text-align: center;font-family: 'Open Sans', sans-serif;;font-size: 18px;line-height: 29px;}
#custom-details {background: #20467a;background: -webkit-linear-gradient(to right,#0eb1e1,#20467a);background: linear-gradient(to right,#0eb1e1,#20467a);
padding: 10px 0;}
.form-to-create-release .left-part label {font-size: 16px;}
.form-to-create-release .tel-company h3 {
    font-weight: 600;
    padding: 10px 0px 10px;
    color: #20467a;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    border-bottom: 1px solid #0eb1e1;
    margin: 40px 0;
    border-top: 1px solid #0eb1e1;
    display: block;
    float: left;
    width: 100%;
}
.form-to-create-release .wpcf7-submit {
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 500;
    background: #20467a;
}
/*my account form end*/