*{margin: 0; padding: 0;}
body{overflow-x: hidden;font-family:@font-Open-Sans;}
a{transition:@transition-ease;-webkit-transition:@transition-ease;}
.skip-link.screen-reader-text, .hidden-title, .menu-toggle, .go-to-my-account-page, .wppb-form-field > .wppb-description-delimiter {display: @global-display-none;}
#content , #colophon
{
    width: @width-100;
    float: @float-left;
}
.container 
{
	.row 
	{
		padding: 0 15px;
	}
}
.vc_column_container
{
	>.vc_column-inner 
	{
		padding: 0 !important;
	}
}
body
{
	.wpb_button, .wpb_content_element, ul.wpb_thumbnails-fluid>li 
	{
		margin-bottom: 0;
	}
}
.vc_section
{
	&.container 
	{
		padding: @padding-zero;
		margin: @margin-auto;		
		
		.vc_row 
		{
			padding-left: 15px;
			padding-right: 15px;
			margin-left: 0;
			margin-right: 0;
		}
	}	
}
.logged-in 
{
	.go-to-my-account-page
	{
		display: @global-display-block;
	}
}
.container 
{
	.row 
	{
		[class*="col-"] 
		{
			float: @float-left;
		}
	}	
}
.col-1{width: @col-1;}
.col-2{width: @col-2;}
.col-3{width: @col-3;}
.col-4{width: @col-4;}
.col-5{width: @col-5;}
.col-6{width: @col-6;}
.col-7{width: @col-7;}
.col-8{width: @col-8;}
.col-9{width: @col-9;}
.col-10{width: @col-10;}
.col-11{width: @col-11;}
.col-12{width: @col-12;}
.home 
{
	.yoast-breadcrumb-content 
	{
		display: none;
	}	
}