#masthead 
{
	width: @width-100;
	float: @float-left;
	
	.site-header-main, #site-header-menu
	{
		width: @width-100;
		float: @float-left;
	}
	.site-header-main
	{
		margin: 20px 0 0; 
	}
	#site-header-menu
	{
		background: #1d477b;
		margin-top: 20px;
		
		.main-navigation 
		{
			ul
			{
				li 
				{
					display: inline-block;
				}	
			}
			
			a
			{
				font-family: @font-Open-Sans;
				font-size: 15px;
				padding: 18px 10px;
				margin-right: 10px;
				
				&:after
				{
					content: "";
					position: absolute;
					bottom: 0;
					height: 5px;
					background: #0eb1e1;
					width: 0;
					left: 0;
					transition: @transition-ease;
					-webkit-transition: @transition-ease;
				}
				
				&:hover
				{
					color: #fff;
					
					&:after
					{
						width: 100%;
					}
				}
			}
			ul 
			{
				li
				{
					&.current-menu-item
					{
						a
						{
							&:after 
							{
								content: "";
								position: absolute;
								bottom: 0;
								height: 5px;
								background: #0eb1e1;
								width: 100%;
								left: 0;
							}
						}
					}
				}
			}	
		}	
	}	
}
.container 
{
    max-width: @container-max-width-desktop;
    width: @width-100;
    display: @global-display-block;
    margin: @margin-auto;
}
@media @tablets,@smartphones 
{ 
	#menu-toggle {display: @global-display-block;}
}
.header-image 
{
	img 
	{
		max-width: 300px;
		width: @width-100;
	}	
}

.site-header-main
{
	.col-4
	{
		&.text-right
		{
			text-align: @text-right;
			margin-top: 5px;
			
			.register-sign-button 
			{
				background: @dark-blue-color;
				color: #fff;
				font-size: 14px;
				text-transform: @text-transform-uppercase;
				padding: 14px 20px;
				display: @global-display-inline-block;
				cursor: pointer;
				
				&:hover
				{
					background: @light-blue-color;
				}
			}
		}
	}
}	