.home-revslider 
{
    float: @text-left;
    width: @width-100;
}
.slider-text 
{
	h2 
	{
		font-size: 80px !important;
		font-weight: bold !important;
		line-height: 64px !important;
		margin-bottom: 20px !important;
		text-align: center !important;
	}
	.slider-p-text 
	{
		text-align: center !important;
		font-size: 56px !important;
		line-height: 64px !important;
	}
}	

.tp-bullets.nav-pos-ver-bottom.nav-dir-horizontal.hermes
{
    width: 100% !important;
    left: 0 !important;
    text-align: center;
    transform: none !important;
    bottom: 80px !important;
    top: auto !important;
	
	.tp-bullet 
	{
		overflow: hidden;
		border-radius: 8px;
		width: 20px;
		height: 5px;
		background-color: #fff;
		box-shadow: none;
		-webkit-transition: background 0.3s ease;
		transition: background 0.3s ease;
		position: relative;
		display: inline-block;
		margin: 0 10px;
		left: auto !important;
		top: auto !important;
		
		&:after
		{
			background-color: #0eb1e1;
			box-shadow: none;
		}
	}
}