.navy-blue-h1-bold 
{
    text-transform: @text-transform-uppercase;
    font-weight: bold !important;
    position: relative;
	
	&:before, &:after
	{
		content: "";
		background: @light-blue-color;
		height: 1px;
		width: 33%;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
	}
	&:before
	{
		left: 0;
	}	
	&:after
	{
		right: 0;
	}	
}

.login-section-row2 
{
    margin-top: 50px;
	
	.navy-blue-h2-semi-bold 
	{
		padding-bottom: 15px;
		position: relative;
		margin-bottom: 40px;
		
		&:after
		{
			content: "";
			background: @dark-blue-color;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			max-width: 310px;
			height: 3px;
		}
	}
	
	.wppb-form-field {
		input {
			width: @width-100;
			float: @float-left;
			min-height: 50px;
			border-radius: 0;
			border-color: @border_color_999;
			height: @height-100;
			display: @global-display-block;
			padding-left: 15px;
		}
		input[type="text"] {
			width: @width-100;
			float: @float-left;
			min-height: 50px;
			border-radius: 0;
			border-color: @border_color_999;
			height: @height-100;
			display: @global-display-block;
			padding-left: 15px;
		}
		input[type="number"] {
			width: @width-100;
			float: @float-left;
			min-height: 50px;
			border-radius: 0;
			border-color: @border_color_999;
			height: @height-100;
			display: @global-display-block;
			padding-left: 15px;
		}
		input[type="email"] {
			width: @width-100;
			float: @float-left;
			min-height: 50px;
			border-radius: 0;
			border-color: @border_color_999;
			height: @height-100;
			display: @global-display-block;
			padding-left: 15px;
		}
		input[type="url"] {
			width: @width-100;
			float: @float-left;
			min-height: 50px;
			border-radius: 0;
			border-color: @border_color_999;
			height: @height-100;
			display: @global-display-block;
			padding-left: 15px;
		}
		input[type="password"] {
			width: @width-100;
			float: @float-left;
			min-height: 50px;
			border-radius: 0;
			border-color: @border_color_999;
			height: @height-100;
			display: @global-display-block;
			padding-left: 15px;
		}
		input[type="search"] {
			width: @width-100;
			float: @float-left;
			min-height: 50px;
			border-radius: 0;
			border-color: @border_color_999;
			height: @height-100;
			display: @global-display-block;
			padding-left: 15px;
		}
		select {
			width: @width-100;
			float: @float-left;
			min-height: 50px;
			border-radius: 0;
			border-color: @border_color_999;
			height: @height-100;
			display: @global-display-block;
			padding-left: 15px;
		}
		textarea {
			width: @width-100;
			float: @float-left;
			min-height: 50px;
			border-radius: 0;
			border-color: @border_color_999;
			height: @height-100;
			display: @global-display-block;
			padding-left: 15px;
		}
	}
	.wppb-checkboxes {
		width: @width-100;
		float: @float-left;
		min-height: 50px;
		border-radius: 0;
		border-color: @border_color_999;
		height: @height-100;
		display: @global-display-block;
	}
	.wppb-radios {
		width: @width-100;
		float: @float-left;
		min-height: 50px;
		border-radius: 0;
		border-color: @border_color_999;
		height: @height-100;
		display: @global-display-block;
	}
	#wppb-login-wrap {
		.login-username {
			input {
				width: @width-100;
				float: @float-left;
				min-height: 50px;
				border-radius: 0;
				border-color: @border_color_999;
				height: @height-100;
				display: @global-display-block;
				padding-left: 15px;
			}
		}
		.login-password {
			input {
				width: @width-100;
				float: @float-left;
				min-height: 50px;
				border-radius: 0;
				border-color: @border_color_999;
				height: @height-100;
				display: @global-display-block;
				padding-left: 15px;
			}
		}
		.login-remember 
		{
			label 
			{
				display: @global-display-block;
			}
		}	
	}
	
	.vc_col-sm-6
	{
		&:first-child
		{
			padding-right: 15px;
		}	
		&:last-child
		{
			padding-left: 15px;
		}	
	}
	
	#wppb-submit, #register 
	{
		border: none;
		outline: none;
		background: @dark-blue-color;
		color: #fff;
		width: @width-100;
		min-height: 50px;
		font-family: @font-Open-Sans;
		font-size: 20px;
		letter-spacing: 1.2px;
		line-height: 50px;
		height: @height-100;
		cursor: pointer;
		trasition: all 0.2s ease;
		-webkit-trasition: all 0.2s ease;
		
		&:hover
		{
		background: @light-blue-color;
		}
	}
	
	#wppb-login-wrap 
	{
		p.login-submit 
		{
			margin-top: 10px;
		}	
	}
	.form-submit 
	{
		margin-top: 10px;
	}
	
	.navy-blue-h3-semi-bold 
	{
		position: relative;
		margin: 20px 0 34px;
		
		&:before, &:after
		{
			content: "";
			background: @dark-blue-color;
			height: 1px;
			width: 42%;
			position: absolute;
			top: 50%;
		}	
		
		&:before
		{
			left: 0;
		}
		
		&:after
		{
			right: 0;
		}
	}
	
	.apsl-login-networks
	{
		&.theme-4
		{
			.social-networks
			{
				    margin-left: -15px;
					margin-right: -15px;
				a 
				{
					width: @width-3-col;
					float: @float-left;
					
					.apsl-icon-block
					{
						padding: 0;
						margin: 0 15px;
						display: @global-display-block;
						text-align: center;
						border-radius: 0;
						min-height: 45px;
						line-height: 45px;
						
						i
						{
							font-size: 22px;
							padding: 11px 10px 0 0;
							vertical-align: top;
						}
						
						.apsl-long-login-text
						{
						    font-family: @font-Open-Sans;
							font-size: 13px;
							font-weight: 600;
						}
					}
				}
			}
		}
	}	
}

#wppb-login-wrap, #wppb-register-user 
{
	label 
	{
		display: @global-display-none;
	}	
}

