* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
}
a {
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}
.skip-link.screen-reader-text,
.hidden-title,
.menu-toggle,
.go-to-my-account-page,
.wppb-form-field > .wppb-description-delimiter {
  display: none;
}
#content,
#colophon {
  width: 100%;
  float: left;
}
.container .row {
  padding: 0 15px;
}
.vc_column_container > .vc_column-inner {
  padding: 0 !important;
}
body .wpb_button,
body .wpb_content_element,
body ul.wpb_thumbnails-fluid > li {
  margin-bottom: 0;
}
.vc_section.container {
  padding: 0;
  margin: auto;
}
.vc_section.container .vc_row {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 0;
  margin-right: 0;
}
.logged-in .go-to-my-account-page {
  display: block;
}
.container .row [class*="col-"] {
  float: left;
}
.col-1 {
  width: 8.333333%;
}
.col-2 {
  width: 16.666667%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.333333%;
}
.col-5 {
  width: 41.666667%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.333333%;
}
.col-8 {
  width: 66.666667%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.333333%;
}
.col-11 {
  width: 91.666667%;
}
.col-12 {
  width: 100%;
}
.home .yoast-breadcrumb-content {
  display: none;
}
#masthead {
  width: 100%;
  float: left;
}
#masthead .site-header-main,
#masthead #site-header-menu {
  width: 100%;
  float: left;
}
#masthead .site-header-main {
  margin: 20px 0 0;
}
#masthead #site-header-menu {
  background: #1d477b;
  margin-top: 20px;
}
#masthead #site-header-menu .main-navigation ul li {
  display: inline-block;
}
#masthead #site-header-menu .main-navigation a {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  padding: 18px 10px;
  margin-right: 10px;
}
#masthead #site-header-menu .main-navigation a:after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 5px;
  background: #0eb1e1;
  width: 0;
  left: 0;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}
#masthead #site-header-menu .main-navigation a:hover {
  color: #fff;
}
#masthead #site-header-menu .main-navigation a:hover:after {
  width: 100%;
}
#masthead #site-header-menu .main-navigation ul li.current-menu-item a:after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 5px;
  background: #0eb1e1;
  width: 100%;
  left: 0;
}
.container {
  max-width: 1200px;
  width: 100%;
  display: block;
  margin: auto;
}
@media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (max-width: 767px) {
  #menu-toggle {
    display: block;
  }
}
.header-image img {
  max-width: 300px;
  width: 100%;
}
.site-header-main .col-4.text-right {
  text-align: right;
  margin-top: 5px;
}
.site-header-main .col-4.text-right .register-sign-button {
  background: #1d477b;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  padding: 14px 20px;
  display: inline-block;
  cursor: pointer;
}
.site-header-main .col-4.text-right .register-sign-button:hover {
  background: #0eb1e1;
}
.home-revslider {
  float: left;
  width: 100%;
}
.slider-text h2 {
  font-size: 80px !important;
  font-weight: bold !important;
  line-height: 64px !important;
  margin-bottom: 20px !important;
  text-align: center !important;
}
.slider-text .slider-p-text {
  text-align: center !important;
  font-size: 56px !important;
  line-height: 64px !important;
}
.tp-bullets.nav-pos-ver-bottom.nav-dir-horizontal.hermes {
  width: 100% !important;
  left: 0 !important;
  text-align: center;
  transform: none !important;
  bottom: 80px !important;
  top: auto !important;
}
.tp-bullets.nav-pos-ver-bottom.nav-dir-horizontal.hermes .tp-bullet {
  overflow: hidden;
  border-radius: 8px;
  width: 20px;
  height: 5px;
  background-color: #fff;
  box-shadow: none;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  position: relative;
  display: inline-block;
  margin: 0 10px;
  left: auto !important;
  top: auto !important;
}
.tp-bullets.nav-pos-ver-bottom.nav-dir-horizontal.hermes .tp-bullet:after {
  background-color: #0eb1e1;
  box-shadow: none;
}
.navy-blue-h1-bold {
  text-transform: uppercase;
  font-weight: bold !important;
  position: relative;
}
.navy-blue-h1-bold:before,
.navy-blue-h1-bold:after {
  content: "";
  background: #0eb1e1;
  height: 1px;
  width: 33%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.navy-blue-h1-bold:before {
  left: 0;
}
.navy-blue-h1-bold:after {
  right: 0;
}
.login-section-row2 {
  margin-top: 50px;
}
.login-section-row2 .navy-blue-h2-semi-bold {
  padding-bottom: 15px;
  position: relative;
  margin-bottom: 40px;
}
.login-section-row2 .navy-blue-h2-semi-bold:after {
  content: "";
  background: #1d477b;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 310px;
  height: 3px;
}
.login-section-row2 .wppb-form-field input {
  width: 100%;
  float: left;
  min-height: 50px;
  border-radius: 0;
  border-color: #999999;
  height: 100%;
  display: block;
  padding-left: 15px;
}
.login-section-row2 .wppb-form-field input[type="text"] {
  width: 100%;
  float: left;
  min-height: 50px;
  border-radius: 0;
  border-color: #999999;
  height: 100%;
  display: block;
  padding-left: 15px;
}
.login-section-row2 .wppb-form-field input[type="number"] {
  width: 100%;
  float: left;
  min-height: 50px;
  border-radius: 0;
  border-color: #999999;
  height: 100%;
  display: block;
  padding-left: 15px;
}
.login-section-row2 .wppb-form-field input[type="email"] {
  width: 100%;
  float: left;
  min-height: 50px;
  border-radius: 0;
  border-color: #999999;
  height: 100%;
  display: block;
  padding-left: 15px;
}
.login-section-row2 .wppb-form-field input[type="url"] {
  width: 100%;
  float: left;
  min-height: 50px;
  border-radius: 0;
  border-color: #999999;
  height: 100%;
  display: block;
  padding-left: 15px;
}
.login-section-row2 .wppb-form-field input[type="password"] {
  width: 100%;
  float: left;
  min-height: 50px;
  border-radius: 0;
  border-color: #999999;
  height: 100%;
  display: block;
  padding-left: 15px;
}
.login-section-row2 .wppb-form-field input[type="search"] {
  width: 100%;
  float: left;
  min-height: 50px;
  border-radius: 0;
  border-color: #999999;
  height: 100%;
  display: block;
  padding-left: 15px;
}
.login-section-row2 .wppb-form-field select {
  width: 100%;
  float: left;
  min-height: 50px;
  border-radius: 0;
  border-color: #999999;
  height: 100%;
  display: block;
  padding-left: 15px;
}
.login-section-row2 .wppb-form-field textarea {
  width: 100%;
  float: left;
  min-height: 50px;
  border-radius: 0;
  border-color: #999999;
  height: 100%;
  display: block;
  padding-left: 15px;
}
.login-section-row2 .wppb-checkboxes {
  width: 100%;
  float: left;
  min-height: 50px;
  border-radius: 0;
  border-color: #999999;
  height: 100%;
  display: block;
}
.login-section-row2 .wppb-radios {
  width: 100%;
  float: left;
  min-height: 50px;
  border-radius: 0;
  border-color: #999999;
  height: 100%;
  display: block;
}
.login-section-row2 #wppb-login-wrap .login-username input {
  width: 100%;
  float: left;
  min-height: 50px;
  border-radius: 0;
  border-color: #999999;
  height: 100%;
  display: block;
  padding-left: 15px;
}
.login-section-row2 #wppb-login-wrap .login-password input {
  width: 100%;
  float: left;
  min-height: 50px;
  border-radius: 0;
  border-color: #999999;
  height: 100%;
  display: block;
  padding-left: 15px;
}
.login-section-row2 #wppb-login-wrap .login-remember label {
  display: block;
}
.login-section-row2 .vc_col-sm-6:first-child {
  padding-right: 15px;
}
.login-section-row2 .vc_col-sm-6:last-child {
  padding-left: 15px;
}
.login-section-row2 #wppb-submit,
.login-section-row2 #register {
  border: none;
  outline: none;
  background: #1d477b;
  color: #fff;
  width: 100%;
  min-height: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  letter-spacing: 1.2px;
  line-height: 50px;
  height: 100%;
  cursor: pointer;
  trasition: all 0.2s ease;
  -webkit-trasition: all 0.2s ease;
}
.login-section-row2 #wppb-submit:hover,
.login-section-row2 #register:hover {
  background: #0eb1e1;
}
.login-section-row2 #wppb-login-wrap p.login-submit {
  margin-top: 10px;
}
.login-section-row2 .form-submit {
  margin-top: 10px;
}
.login-section-row2 .navy-blue-h3-semi-bold {
  position: relative;
  margin: 20px 0 34px;
}
.login-section-row2 .navy-blue-h3-semi-bold:before,
.login-section-row2 .navy-blue-h3-semi-bold:after {
  content: "";
  background: #1d477b;
  height: 1px;
  width: 42%;
  position: absolute;
  top: 50%;
}
.login-section-row2 .navy-blue-h3-semi-bold:before {
  left: 0;
}
.login-section-row2 .navy-blue-h3-semi-bold:after {
  right: 0;
}
.login-section-row2 .apsl-login-networks.theme-4 .social-networks {
  margin-left: -15px;
  margin-right: -15px;
}
.login-section-row2 .apsl-login-networks.theme-4 .social-networks a {
  width: 33.33%;
  float: left;
}
.login-section-row2 .apsl-login-networks.theme-4 .social-networks a .apsl-icon-block {
  padding: 0;
  margin: 0 15px;
  display: block;
  text-align: center;
  border-radius: 0;
  min-height: 45px;
  line-height: 45px;
}
.login-section-row2 .apsl-login-networks.theme-4 .social-networks a .apsl-icon-block i {
  font-size: 22px;
  padding: 11px 10px 0 0;
  vertical-align: top;
}
.login-section-row2 .apsl-login-networks.theme-4 .social-networks a .apsl-icon-block .apsl-long-login-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 600;
}
#wppb-login-wrap label,
#wppb-register-user label {
  display: none;
}
