@smartphones: ~"only screen and (max-width: 767px)";
@tablets: ~"only screen and (min-width: 768px) and (max-width: 1024px)";


@font-Open-Sans: 'Open Sans', sans-serif;
@light-blue-color: #0eb1e1;
@dark-blue-color: #1d477b;

@float-left: left;
@float-right: right;
@float-none: none;
@clear-float: both;

@margin-auto: auto;
@margin-left-auto: auto;
@margin-right-auto: auto;

@padding-zero: 0;
@padding-left-zero: 0;
@padding-right-zero: 0;
@padding-top-zero: 0;
@padding-bottom-zero: 0;

@global-display-block: block;
@global-display-none: none;
@global-display-inline-block: inline-block;

@width-100: 100%;
@width-2-col: 50%;
@width-3-col: 33.33%;
@width-4-col: 25%;
@width-5-col: 20%;

@col-1: 8.333333%;
@col-2: 16.666667%;
@col-3: 25%;
@col-4: 33.333333%;
@col-5: 41.666667%;
@col-6: 50%;
@col-7: 58.333333%;
@col-8: 66.666667%;
@col-9: 75%;
@col-10: 83.333333%;
@col-11: 91.666667%;
@col-12: 100%;

@height-100: 100%;

@vertical-align-middle: middle;

@text-transform-uppercase: uppercase;
@text-transform-capitalize: capitalize;
@text-transform-lowercase: lowercase;

@border_color_999: #999999;

@text-left: left;
@text-center: center;
@text-right: right;

@transition-ease: all 0.2s ease;

@container-max-width-desktop: 1200px;